@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}
html {
  font-size: 62.5%;
}
.app {
  background-color: rgb(142, 204, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  width: 60rem;
  height: 25rem;
  border-radius: 2rem;
  background-color: aliceblue;
  box-shadow: 0 5px 20px 10px rgba(90, 90, 107, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h1 {
  color: rgb(173, 49, 74);
  margin-top: 2rem;
  font-size: 2.2rem;
}
.container h2 {
  font-size: 1.8rem;
  margin-top: 4rem;
  width: 90%;
  height: 5rem;
  text-align: center;
  color: rgb(0, 128, 255);
}
.btn {
  border: 1px solid rgb(184, 43, 71);
  background-color: rgb(184, 43, 71);
  color: aliceblue;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin-top: 5rem;
  cursor: pointer;
  transition: 0.3s ease;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
.btn:hover {
  background: none;
  color: rgb(184, 43, 71);
  transform: translateY(-0.2rem);
}

/* media queries  */

@media (max-width: 750px) {
  .container {
    width: 55rem;
  }
}
@media (max-width: 700px) {
  .container {
    width: 50rem;
  }
}
@media (max-width: 600px) {
  .container {
    width: 40rem;
  }
  html {
    font-size: 55%;
  }
}
@media (max-width: 400px) {
  .container {
    width: 35rem;
  }
}
@media (max-width: 355px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 315px) {
  html {
    font-size: 47%;
  }
}
